body{
    font-family: sans-serif;
    color: gray;
    padding: 5px;
}

header{
    text-align: center;
}

span{
    background-color: rgb(54, 236, 54);
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

div{
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

main{
  margin-top: 10px;
  
}

section{
  display: flex;
  justify-content: center;
}

img{

  width: 200px;
}