body{
    font-family: sans-serif;
    color: gray;
}

header{
    text-align: center;
}

span{
    background-color: rgb(54, 236, 54);
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

*{
  padding: 0;
  margin: 0;
}

p{
  margin: 10px 0px;
}
